.fdj_1
{
	position:relative;
	width:150px;
	height:150px;
	border:5px solid blue;
	background-color:blue;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	float:left;
	margin-left:15px;
	border-radius:8px;
}

.fdj_2
{
	position:relative;
	width:150px;
	height:150px;
	border:5px solid green;
	background-color:green;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	float:left;
	margin-left:90px;
	border-radius:8px;
}

.fdj_3
{
	position:relative;
	width:150px;
	height:150px;
	border:5px solid yellow;
	background-color:yellow;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	float:left;
	margin-left:90px;
	border-radius:8px;
}

.fdj_5
{
	position:relative;
	width:150px;
	height:150px;
	border:5px solid darkviolet;
	background-color:darkviolet;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	float:left;
	margin-left:90px;
	border-radius:8px;
}

.fdj_10
{
	position:relative;
	width:150px;
	height:150px;
	border:5px solid deeppink;
	background-color:deeppink;
	text-align:center;
	font-size:60px;
	font-weight:bold;
	float:left;
	margin-left:90px;
	border-radius:8px;
}

.fdj_go
{
	position:relative;
	width:1165px;
	height:70px;
	cursor:pointer;
	border:5px solid black;
	background-color:lawngreen;
	text-align:center;
	vertical-align:middle;
	font-size:60px;
	font-weight:bold;
	margin-top:40px;
	margin-left:15px;
	border-radius:8px;
}

.fdj_total
{
	position:relative;
	width:1165px;
	height:70px;
	cursor:pointer;
	border:5px solid orange;
	background-color:orange;
	text-align:center;
	vertical-align:middle;
	font-size:60px;
	font-weight:bold;
	margin-top:200px;
	margin-left:15px;
	border-radius:8px;
}

.fdj_confirm
{
	position:relative;
	width:1165px;
	height:70px;
	cursor:pointer;
	border:5px solid black;
	background-color:green;
	text-align:center;
	vertical-align:middle;
	font-size:60px;
	font-weight:bold;
	margin-top:200px;
	margin-left:15px;
	border-radius:8px;
}
