@import url(autocomplete.css);
@import url(menubar.css);
@import url(general.css);
@import url(popupbox.css);
@import url(register.css);
@import url(receipt.css);
@import url(reports.css);
@import url(tables.css);
@import url(thickbox.css);
@import url(datepicker.css);
@import url(editsale.css);
@import url(fdj.css);

body
{
	margin:0px;
	padding:0px;
	background-color:#FFFFFF;
}

a.none
{
	text-decoration:none;
}


#content_area_wrapper
{
	position:relative;
	width:100%;
	height:100%;
	background-color:#EBF4F8;	
	margin:0px;
	padding:0px;
	text-align:center;
}

#content_area
{
	position:relative;
	margin:0 auto;
	width:95%;
	text-align:left;
}

#title_bar
{
	position:relative;
	margin-bottom:10px;
	width:100%;
	height:50px;
}

#title
{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:50px;
	font-weight:bold;
	color:#005B7F;
}	

#page_title
{
	margin-top:0px;
	width:100%;
	font-size:50px;
	font-weight:bold;
	color:#005B7F;
	text-align:left;

}

#page_subtitle
{
	margin-top:8px;
	width:100%;
	font-size:25px;
	font-weight:bold;
	color:#005B7F;
	text-align:left;
}

#confirm_title
{
	margin-top:0px;
	width:100%;
	font-size:50px;
	font-weight:bold;
	color:#005B7F;
	text-align:center;

}
#new_button
{
	position:absolute;
	bottom:0px;
	right:0px;
}

#spinner
{
	position:absolute;
	display:none;
	right:21%;
	top:5px;
}

#feedback_bar
{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:55px;	
	position:fixed;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index:1;
	line-height:3.3;
}

#home_module_list
{
	position: relative;
}

.module_item
{
	padding: 10px;
}

#config_wrapper
{
	text-align:center;
}

#config_info
{
	width:95%;
	margin:0 auto;
	padding:10px;
	margin-bottom:30px;
	margin-top:10px;
	text-align:center;
}

#footer
{
	border:2px solid #005B7F;
	position:float;
	width:100%;
	background-color:#CDECFA;	
	text-align:center;
	font-size:11px;
	color:#005B7F;
	clear:both;
	border-radius:8px;
}
